.container-home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-header-history {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}

.container-nav-list {
  grid-row: span 7 / span 7;
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 50vh;
}
.home-logo {
  margin: 10px;
  width: 80px;
}
/*.browser-loop-close {
  color: white;
  list-style: none;
  cursor: pointer;
  margin: auto;
  place-content: center;
  text-align: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
}*/
.browser-loop-link {
  text-decoration: none;
}
.browser-loop {
  text-align: center;
  cursor: pointer;
  margin: auto;
  place-content: center;
  list-style: none;
  width: 100%;
  height: 30px;
  font-size: 18px;
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.browser-loop:hover {
  background-color: rgba(255, 255, 255, 0.24);
  transition: 0.3s;
}
.browser-loop-close:hover {
  transition: 0.3s;
  background-color: rgba(255, 0, 0, 0.596);
}
.container-main {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: auto;
}
.container-article {
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 2;
}
.container-footer {
  grid-column: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 7;
}
.icon-home {
  display: none;
}
.history-btn-header {
  color: white;
  font-size: 20px;
  width: 60px;
  height: 60px;
  border-radius: 70px;
  border: 2px aqua solid;
  margin: 10px;
}
.cotainer-history-img-loop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.overlay {
  width: 50vh;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.history-img-loop {
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 10px;
}
.btn-history-loop {
  display: inline-block;
  margin-left: 20px;
  width: 85px;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  background-color: #212121;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  border: 2px aqua solid;
  border-radius: 5px;
  cursor: pointer;
}

@media (300px <= width <= 900px) {
  .container-home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .container-header-history {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .container-nav-list {
    grid-row: auto;
    grid-column-start: 1;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: auto;

    place-items: center;
  }
  .container-main {
    grid-column: auto;
    grid-row: auto;
    grid-column-start: 1;
    grid-row-start: 2;
    margin: auto;
  }
  .container-footer {
    display: none;
  }
  .home-logo {
    display: none;
  }
  .browser-loop {
    display: none;
  }
  .icon-home {
    display: inline;
    max-width: 40px;
    margin: auto;
  }
}
