.container-home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 3px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-header-history {
  grid-column: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 1;
}
.container-nav-list {
  grid-row: span 7 / span 7;
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 50vh;
}
.home-logo {
  margin: 10px;
  width: 80px;
}
.browser-loop-close {
  color: white;
  list-style: none;
  cursor: pointer;
  margin: auto;
  place-content: center;
  text-align: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
}
.browser-loop {
  text-align: center;
  cursor: pointer;
  margin: auto;
  place-content: center;
  list-style: none;
  width: 100%;
  height: 30px;
  font-size: 18px;
  transition: 0.3s;
  border-radius: 5px;
}
.browser-loop:hover {
  background-color: rgba(255, 255, 255, 0.24);
  transition: 0.3s;
}
.browser-loop-close:hover {
  transition: 0.3s;
  background-color: rgba(255, 0, 0, 0.596);
}
.container-main {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: auto;
}
.container-article {
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 2;
}
.container-footer {
  grid-column: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 7;
}
.loader {
  width: 2rem;
  height: 2rem;
  clear: both;
  margin: 1rem auto;
  border-radius: 50%;
  border-left: 0 #000 solid;
  border-right: 0 #000 solid;
  animation: spSphere 1s infinite linear;
}

@keyframes spSphere {
  0% {
    border-left: 0 #000 solid;
    border-right: 0 #000 solid;
  }

  33% {
    border-left: 2rem #000 solid;
    border-right: 0 #000 solid;
  }

  34% {
    border-left: 0 #000 solid;
    border-right: 2rem #000 solid;
  }

  66% {
    border-left: 0 #000 solid;
    border-right: 0 #000 solid;
  }
}
