.login-conteiner {
  display: grid;
  grid-template-columns: 5fr 5fr;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #212121;
}
.login-conteiner-loading {
  display: none;
}
.conteiner-logo {
  text-align: center;
  margin: auto;
}
.logo-loop {
  max-width: 80%;
}
.form-login-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.form-login .form-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  backface-visibility: visible;
  padding: 65px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.form-title {
  padding-bottom: 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-title-name {
  color: white;
}
.form-title-email {
  color: white;
}
.form-input {
  width: 245px;
  min-height: 45px;
  color: #fff;
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: #212121;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
}
.form-input::placeholder {
  color: #999;
}
.form-i.form-input.form-input::placeholder {
  transition: 0.3s;
  opacity: 0;
}
.form-input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}
.form-btn-submit {
  padding: 10px 35px;
  cursor: pointer;
  background-color: #212121;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  transition: 0.35s;
}
.form-btn-submit:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.form-btn-submit:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}
.form-login .switch-login {
  font-size: 13px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 5px;
}

.form-login .switch-login .signup-tog-login {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
  color: rgb(96, 222, 245);
}
.switch-login-password {
  transition: color 0.35s;
  font-size: 14px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}
.switch-login-password:hover {
  color: rgb(96, 222, 245);
  transition: 0.35s;
}

@media (300px <= width <= 900px) {
  .login-conteiner {
    grid-template-columns: auto;
  }
  .conteiner-logo {
    text-align: center;
    margin-top: 5%;
  }
  .logo-loop {
    max-width: 20%;
  }
  .form-login-conteiner {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
}
