.container-profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-profile {
  max-width: 100px;
  padding: 5px;
  display: flex;
  margin: auto;
  border: 2px aqua solid;
  border-radius: 50px;
}
.container-infomations-user {
  display: flex;
}
.number-information-user {
  margin: 10px;
  font-size: 25px;
}

.container-nav-list-profile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-start: 1;
  grid-row-start: 1;
  height: 50vh;
  width: 80%;
  color: white;
}

.container-main-profile {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-start: 5;
}
@media (300px <= width <= 900px) {
  .container-profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .container-header-profile {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .container-nav-list-profile {
    position: fixed;
    gap: 8%;
    width: 100%;
    top: 93%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: none;
    text-align: center;
  }
  .container-main-profile {
    grid-column: auto;
    grid-row: auto;
    grid-column-start: 1;
    grid-row-start: 2;
    margin: auto;
  }
}
