.register-container {
  display: grid;
  grid-template-columns: 5fr 5fr;
  margin: 0 auto;
  height: 100vh;
  background-color: #212121;
}

@media (300px <= width <= 900px) {
  .register-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 70vh;
    background-color: #212121;
  }
}
